.mainPageContainer{
  background-color: #FFDE00;
  position: fixed;
  /* border: 5px solid red; */
  height: 100% !important;
  width: 100% !important;
}



.mainPageNavBar{
  /* border: 5px solid green; */
  height: 5%;
}

.mainPageContent{
  /* border: 5px solid blue; */
  height: 95%;
}